@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --white: hsl(0, 0%, 100%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: "Manrope", sans-serif;
    font-size: 1.3rem;
    font-weight: medium;
    line-height: 20px;
    letter-spacing: 0.12px;
    color: var(--desaturated-dark-blue);
    background-color: var(--light-grayish-blue);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: var(--very-dark-grayish-blue);
}

.hidden {
    display: none;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    display: grid;
    grid-template-columns: 28.5rem 1fr 1fr;
    max-width: 73rem;
    border-radius: 10px;
    background-color: var(--white);
}

.image-container {
    width: 100%;
    max-height: 28rem;
    overflow: hidden;
}

.card-image {
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.card-content {
    grid-column: 2 / span 2;
    padding: 3.2rem 4rem;
}

.top-content p {
    margin: 1.2rem 0 2rem 0;
}

.bottom-content {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.profile-info {
    display: flex;
    gap: 1.6rem;
}

.profile-image-container {
    width: 4rem;
    height: 4rem;
}

.profile-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.user-name {
    font-weight: bold;
    color: var(--very-dark-grayish-blue);
}

.date {
    color: var(--grayish-blue);
}

/************************************************************************/

.button-container {
    border: 2px solid black;
    position: relative;
}

.share-btn {
    background-color: #eee;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
    position: relative;
}

.share-bubble {
    position: absolute;
    top: -60px;
    right: -75px;
    background-color: #374151;
    border-radius: 8px;
    padding: 1rem;
    color: white;
    width: 15rem;
}

.bubble-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.arrow-down {
    position: absolute;
    top: 40px;
    left: 75px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #2367d4;
}