@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --white: hsl(0, 0%, 100%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: "Manrope", sans-serif;
    font-size: 1.3rem;
    font-weight: medium;
    line-height: 20px;
    letter-spacing: 0.12px;
    color: var(--desaturated-dark-blue);
    background-color: var(--light-grayish-blue);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: var(--very-dark-grayish-blue);
}

.hidden {
    display: none;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    display: grid;
    grid-template-columns: 28.5rem 1fr 1fr;
    max-width: 73rem;
    border-radius: 10px;
    background-color: var(--white);
}

.image-container {
    width: 100%;
    max-height: 28rem;
    overflow: hidden;
}

.card-image {
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.card-content {
    grid-column: 2 / span 2;
    padding: 3.2rem 4rem;
}

.top-content p {
    margin: 1.2rem 0 2rem 0;
}

.bottom-content {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.profile-info {
    display: flex;
    gap: 1.6rem;
}

.profile-image-container {
    width: 4rem;
    height: 4rem;
}

.profile-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.user-name {
    font-weight: bold;
    color: var(--very-dark-grayish-blue);
}

.date {
    color: var(--grayish-blue);
}

.button-container {
    position: relative;
    display: flex;
    align-items: center;
}

.share-btn {
    width: 3.2rem;
    height: 3.2rem;
    background-color: var(--light-grayish-blue);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.share-icon {
    color: var(--desaturated-dark-blue);
}

.share-bubble {
    width: 24.8rem;
    height: 5.5rem;
    position: absolute;
    top: -80px;
    right: -106px;
    background-color: var(--very-dark-grayish-blue);
    border-radius: 10px;
    color: var(--grayish-blue);
}

.bubble-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.share-text {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-left: 3.7rem;
}

.social-icons {
    margin-left: 2.1rem;
    display: flex;
    gap: 1.6rem;
    font-size: 2rem;
    color: var(--white);
}

.social-icons a {
    color: var(--white);
}

.arrow-down {
    position: absolute;
    top: 55px;
    left: 115px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--very-dark-grayish-blue);
}

/* Media Query - Tablets and Large Smartphones */
@media screen and (max-width: 870px) {
    .card {
        display: block;
        max-width: 32.7rem;
    }

    .image-container {
        max-height: 20rem;
        border-radius: 10px 10px 0 0;
    }

    .card-image {
        width: 100%;
        transform: translateY(-14px);
    }
    
    .card-content {
        padding: 3.6rem 3.2rem 2rem 3.2rem;
    }

    h1 {
        font-size: 1.6rem;
        line-height: 24px;
        letter-spacing: 0.2px;
    }

    .top-content p {
        margin: 1.2rem 0 3.2rem 0;
    }
}
